# Ignorar la carpeta de dependencias de Node.js
# Esta carpeta contiene miles de archivos y se puede reinstalar con "npm install"
node_modules/

# Ignorar el archivo de la base de datos de SQLite
# Es una buena práctica no subir la base de datos directamente al repositorio
*.db
*.db-journal

# Ignorar archivos de registro de npm
npm-debug.log*

# Ignorar archivos del sistema operativo (comunes en macOS y Windows)
.DS_Store